# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$L0VGwh37pGtE$s5eRUtRDV6BycosYqAgRig+UbjVYpq2mAlLeFIo8mo+kBZhiUsB88l0H5KAo6JaAA1XRFXr2G85inOZ92YKHX95On9GJ2Xav
HDB_Schema_Check_Dialogs.schemaName = {{ app_schema_name }}
HDB_Schema_Check_Dialogs.schemaPassword = des25(JnZ1OmcVzgLFd45iZ9SZ1R1aGg==)
NW_CI_Instance.ascsVirtualHostname = {{ ascs_virtual_hostname }}
NW_CI_Instance.ciInstanceNumber = 00
NW_CI_Instance.ciMSPort = 3601
NW_CI_Instance.ciVirtualHostname = {{ custom_hostname }}
NW_CI_Instance.scsVirtualHostname = {{ custom_hostname }}
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = true
NW_DDIC_Password.ddic000Password = des25(f060vbgWjIlHT0342J7Vm8wq1g==)
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(LF8kMc2axl9MjtJ4ijeHMo0/xw==)
NW_HDB_getDBInfo.dbhost = {{ db_virtual_hostname }}
NW_HDB_getDBInfo.dbsid = {{ spr_db_first_tenant_sid | upper }}
NW_HDB_getDBInfo.instanceNumber = 00
NW_HDB_getDBInfo.systemPassword = des25(nsS34DETBvo/QabZZmyW7p+OYA==)
NW_HDB_getDBInfo.systemid = {{ db_sid | upper }}
NW_IcmAuth.webadmPassword = des25(3nL27privVctIt8Eeb9JzPBMtQ==)
NW_System.installSAPHostAgent = false
NW_Unpack.igsExeSar = {{ download_basket }}/igsexe*.sar
NW_Unpack.igsHelperSar = {{ download_basket }}/igshelper*.sar
NW_Unpack.sapExeDbSar = {{ download_basket }}/SAPEXEDB*.SAR
NW_getLoadType.loadType = STD
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket =  {{ download_basket }}
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204