# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$zpW2eMlGi4bJ$FXC9BilPYOP7o5S5C++8IxXqzHzJd/9dxzA0REyEN2314oG5fjYdi+i5DhjqboUXX2iA0k+nKiuvOX8HRvUYsOEfFnMvAzl+
HDB_Schema_Check_Dialogs.schemaName = {{ app_schema_name }}
HDB_Schema_Check_Dialogs.schemaPassword = des25(0FYPl8VrfkPWnnLPrmT0YnmriQ==)
NW_CI_Instance.ascsVirtualHostname = {{ ascs_virtual_hostname }}
NW_CI_Instance.ciInstanceNumber = 00
NW_CI_Instance.ciVirtualHostname = {{ custom_hostname }}
NW_CI_Instance.scsVirtualHostname = {{ custom_hostname }}
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(Mz9Ef0XiM6ptsqxRJPIo9eon9Q==)
NW_HDB_getDBInfo.instanceNumber = 00
NW_IcmAuth.webadmPassword = des25(PmTvP/6Il3En9UIx+xVYtnFYDA==)
NW_Unpack.igsExeSar = {{ download_basket }}/igsexe*.sar
NW_Unpack.igsHelperSar = {{ download_basket }}/igshelper*.sar
NW_Unpack.sapExeDbSar = {{ download_basket }}/SAPEXEDB*.SAR
NW_Unpack.sapJvmSar = {{ download_basket }}/SAPJVM*.SAR
NW_getLoadType.loadType = SAP
NW_internal.useProductVersionDescriptor = true
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
Prepare_Deployment_Using_Product_Version_Descriptor.copyNWDIArchives = false
UmeConfiguration.adminName = J2EE_ADMIN
UmeConfiguration.adminPassword = des25(f2QtSOnoMAVKf4aQ0U/g5Q2HBw==)
UmeConfiguration.guestName = J2EE_GUEST
UmeConfiguration.sapjsfPassword = des25(q4tEaqd2uetI80vjG5fIHNyRew==)
UmeConfiguration.umeClient = 001
UmeConfiguration.umeHost = {{ umeHost }}
UmeConfiguration.umeInstance = 00
UmeConfiguration.umeType = abap
archives.downloadBasket = {{ download_basket }}
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
storageBasedCopy.hdb.instanceNumber = 00
storageBasedCopy.hdb.systemPassword = des25(vFHG5992uSCiEVbtOLJiiJKeHQ==)
SAPINST.CD.PACKAGE.SCA={{ download_basket }}/51045655_4/DATA_UNITS/JAVA_J2EE_OSINDEP_UT
SAPINST.CD.PACKAGE.SCA_2={{ download_basket }}/51045655_4/DATA_UNITS