[Unit]
Description=Clam AntiVirus database updater
Documentation=man:freshclam(1) man:freshclam.conf(5) https://www.clamav.net/documents/
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/freshclam -v -d -c 4
Restart = on-failure
User=clamscan
Group=virusgroup
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
