# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$fFH8pncNKd/T$ZB60OACyHTnAHBX+lK9XHua5tdvZHvSQR6VfRVaAu/CviVOgkAaPc+T+me/Sm4/gOtaq+lPj9qb8kkYoOA9WHZ7zzVQgM9V+
NW_Delete_Sapinst_Users.removeUsers = true
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
nwUsers.sidadmPassword = des25(Qed1oJcj+rCGzg7sR+MOTh4uEQ==)
nw_instance_ers.ersInstanceNumber = 02
nw_instance_ers.ersVirtualHostname = {{ ers_virtual_hostname }}