# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$nm4SLvcOItzG$/Dx9hsC90xMpG5HWIKPxWesHtRiXQ3X4xDKDNRFY4txPswZTq/WWnJhD6RZtUnPoowlgos7gJ+Rlv0ms5YFKh+hLv8z03JG8
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(hpBeyUobIHiTFleReTIBHhPeHA==)
NW_GetSidNoProfiles.sid = {{ sap_sid }}
NW_SAPCrypto.SAPCryptoFile = {{ download_basket }}/SAPEXE*.SAR
NW_SCS_Instance.ascsInstallGateway = true
NW_SCS_Instance.instanceNumber = 01
NW_SCS_Instance.scsVirtualHostname = {{ ascs_virtual_hostname }}
NW_Unpack.sapExeSar = {{ download_basket }}/SAPEXE*.SAR
NW_getFQDN.FQDN = {{ custom_domain }}
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidadmPassword = des25(ZfXA8b5slUhJjFvaRf9p39/IeQ==)
