# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$ZssVHiFB3ZWU$HXiOjwNVdNDhfhx5fnkE2M7/UTUNxoOu3tluizUVXGprm+O1rZL6aA9usC/53lNO8YaAIvsIKqY232KJl2DN/rlUoNaiiTy6
HDB_Schema_Check_Dialogs.schemaName = {{ app_schema_name }}

#HDB_Schema_Check_Dialogs.schemaPassword = des25(hQWKAJeBFppCgklx7kyCudiyXg==)
HDB_Schema_Check_Dialogs.schemaPassword = QwerRewq123


NW_AS.instanceNumber = 00
NW_DI_Instance.virtualHostname = {{ custom_hostname }}
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(rXa78LHVDbNKkY3qsDa4vnIMUw==)
NW_HDB_getDBInfo.dbhost = {{ db_virtual_hostname }}
NW_HDB_getDBInfo.dbsid = {{ db_sid }}
NW_HDB_getDBInfo.instanceNumber = 00
# NW_HDB_getDBInfo.systemDbPassword = des25(NgIJ+a+b70Ly0OK27h2vPzmv7Q==)
# NW_HDB_getDBInfo.systemPassword = des25(aC1FxVicKjI9E6crJ+1Dc9Vtzg==)

NW_HDB_getDBInfo.systemDbPassword = QwerRewq123
NW_HDB_getDBInfo.systemPassword = QwerRewq123

NW_HDB_getDBInfo.systemid = {{ db_system_sid }}
NW_WPConfiguration.ciBtcWPNumber = 12
NW_WPConfiguration.ciDialogWPNumber = 50
NW_checkMsgServer.abapMSPort = 3601
NW_getLoadType.loadType = STD
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
nwUsers.sidadmPassword = des25(Ae3hvP1taaXN34ShNtFQQS6y+Q==)