# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$NTZw+ZAfFcug$8ilKq1ThOvgF1FFGRW8nwcjtk3gutU0jSa6sLJAmUTiD887JeBaGG3tzssgATVns/XsRpvAOaJ+BLlGOvis3j9U51tnIpOc3
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(RqTKbmIQreX38EOJdKaeqpAALA==)
NW_GetSidNoProfiles.sid = {{ sap_sid }}
NW_SAPCrypto.SAPCryptoFile = {{ download_basket }}/SAPEXE*.SAR
NW_SCS_Instance.ascsInstallGateway = true
NW_SCS_Instance.instanceNumber = 01
NW_SCS_Instance.scsVirtualHostname = {{ ascs_virtual_hostname }}
NW_Unpack.sapExeSar = {{ download_basket }}/SAPEXE*.SAR
NW_getFQDN.FQDN = {{ custom_domain }}
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidadmPassword = des25(IcrX1S7sSUxEdxunrzoGmIH1+A==)
