
# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$9l7+0BUJPz7S$NV4RCYX1zrwjttqqa9NGyHI11P9hdbUjqy7vRCyIA8OXWwsC96fgTwRV6xs7b3ZljGIUmBQ/lkEX/aOoOCU1LjJwpNatp0/1
HDB_Schema_Check_Dialogs.schemaName = {{ app_schema_name }}
# HDB_Schema_Check_Dialogs.schemaPassword = des25(R1NUk0Xbjtbu6q6qq574AiJJQw==)
HDB_Schema_Check_Dialogs.schemaPassword = QwerRewq123

NW_CI_Instance.ascsVirtualHostname = {{ ascs_virtual_hostname }}
NW_CI_Instance.ciInstanceNumber = 00
NW_CI_Instance.ciVirtualHostname = {{ custom_hostname }}
NW_CI_Instance.scsVirtualHostname = {{ custom_hostname }}
NW_DDIC_Password.ddic000Password = des25(KNOTuODRdoci0QKQV9TaWnlb5Q==)
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(YgwTEEL1RF0m+D1hyz7EDv1JWQ==)
NW_HDB_getDBInfo.dbhost = {{ db_virtual_hostname }}
NW_HDB_getDBInfo.dbsid = {{ db_sid }}
NW_HDB_getDBInfo.instanceNumber = 00
# NW_HDB_getDBInfo.systemDbPassword = des25(NgIJ+a+b70Ly0OK27h2vPzmv7Q==)
# NW_HDB_getDBInfo.systemPassword = des25(aC1FxVicKjI9E6crJ+1Dc9Vtzg==)

NW_HDB_getDBInfo.systemDbPassword = QwerRewq123
NW_HDB_getDBInfo.systemPassword = QwerRewq123

NW_HDB_getDBInfo.systemid = {{ db_system_sid }}
NW_Unpack.igsExeSar = {{ download_basket }}/igsexe*.sar
NW_Unpack.igsHelperSar = {{ download_basket }}/igshelper*.sar
NW_Unpack.sapExeDbSar = {{ download_basket }}/SAPEXEDB*.SAR
NW_WPConfiguration.ciBtcWPNumber = 12
NW_WPConfiguration.ciDialogWPNumber = 50
NW_checkMsgServer.abapMSPort = 3601
NW_getLoadType.loadType = STD
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
nwUsers.sidadmPassword = des25(PWyrwkpmBLt+f67ZBoKxc2vcAA==)
storageBasedCopy.hdb.instanceNumber = 00
