# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$UdSlP5uZ1CvO$sV9zXbtVs2ag9566ty+RMdFZr6cX0NpKe10cjv0+VkFArTmZ1ZXLhGixuvpYO487dolLcWgfL5SV5yAja2PM15PxRjMCpDaf
HDB_Schema_Check_Dialogs.schemaName = {{ app_schema_name }}
HDB_Schema_Check_Dialogs.schemaPassword = des25(4g6/AoOcwq4NtWBrmCNzsXF8EQ==)
NW_AS.instanceNumber = 00
NW_DI_Instance.virtualHostname = {{ custom_hostname }}
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(RBZS5NSJeGToMUTGscyuOaaRHw==)
NW_HDB_getDBInfo.instanceNumber = 00
NW_getLoadType.loadType = SAP
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket =  {{ download_basket }}
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
SAPINST.CD.PACKAGE.SCA={{ download_basket }}/51045655_4/DATA_UNITS/JAVA_J2EE_OSINDEP_UT
SAPINST.CD.PACKAGE.SCA_2={{ download_basket }}/51045655_4/DATA_UNITS