# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$wiWahUP0OX6w$2ACByxeqGuntSaGjZjRsBCGSLoNZYDQetAqsKHS84p/Hc3BXdWmwrMiO7RVux7yLIgwBWYonlyee4g/i8DyuEDMHhXbMbf3O
NW_System_Uninstall.removeUsers = true
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
NW_uninstallDB.dbName = SAP HANA Database
NW_uninstallDB.uninstallDB = false