# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$cPSs6vgjKtJB$Ab43BZNUoor4Cc8w4HhU4cmERBRzdDE+GA+ADN53Yc7q1MatD0kvZB8gIczdO4lJKCHm6wf8CPIWMH9IL/o06B/0ClvcoSDd
HDB_Schema_Check_Dialogs.schemaName = SAPJAVA1
HDB_Schema_Check_Dialogs.schemaPassword = des25(QXebKFnqPy/R2I1TcTsqgguFpg==)
NW_CI_Instance.ascsVirtualHostname = {{ ascs_virtual_hostname }}
NW_CI_Instance.ciInstanceNumber = 00
NW_CI_Instance.ciVirtualHostname = {{ custom_hostname }}
NW_CI_Instance.scsVirtualHostname = {{ custom_hostname }}
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(Xg2peS6BENecDDSA2EDLK3WmqQ==)
NW_HDB_getDBInfo.dbhost = {{ db_virtual_hostname }}
NW_HDB_getDBInfo.dbsid = {{ db_sid }}
NW_HDB_getDBInfo.instanceNumber = 00
NW_HDB_getDBInfo.systemPassword = des25(5JQoU0l/SEqOE6YEdKgdNbKDtA==)
NW_HDB_getDBInfo.systemid = {{ db_sid }}
NW_IcmAuth.webadmPassword = des25(svDvu3+ObmptS6op2FTJMH7fuQ==)
NW_Unpack.igsExeSar = {{ download_basket }}/igsexe*.sar
NW_Unpack.igsHelperSar = {{ download_basket }}/igshelper*.sar
NW_Unpack.sapExeDbSar = {{ download_basket }}/SAPEXEDB*.SAR
NW_Unpack.sapJvmSar = {{ download_basket }}/SAPJVM8*.SAR
NW_Unpack.sapExeSar = {{ download_basket }}/SAPEXE*.SAR
NW_getLoadType.loadType = STD
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
nwUsers.sidadmPassword = des25(KuiN6S/Qdo0rS0QeaJG/YJB4VQ==)

SAPINST.CD.PACKAGE.SCA = {{ download_basket }}/51055106/DATA_UNITS/JAVA_J2EE_OSINDEP_UT
SAPINST.CD.PACKAGE.SCA_2 = {{ download_basket }}/51055106/DATA_UNITS
