# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$nyoXNLHaiqWa$46Ikd9b14FjBvxhBs6D2soSOImhF5lyc6hCFNXj+fJCAgOYsE9dMm0N26LmDUMvYC6Lykk2ovNHlwkVYfuORvcKgwigyshE0
NW_Delete_Sapinst_Users.removeUsers = true
NW_System.installSAPHostAgent = false
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid}}/profile
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
nwUsers.sidadmPassword = des25(1SU3eWqP/LR6I/U8RdKH4d0HCQ==)
nw_instance_ers.ersInstanceNumber = 02
nw_instance_ers.ersVirtualHostname = {{ ers_virtual_hostname }}
archives.downloadBasket = {{ download_basket }}