{'installation_path': '/hana/shared',
 'sapsys_groupid': 79,
 'sidadm_comment': 'SAP HANA Database System Administrator',
 'sidadm_home': '/usr/sap/N00/home',
 'sidadm_id': 12393,
 'sidadm_shell': '/bin/csh',
 'sidcrypt_gid': 80,
 'sidcrypt_group': '{{ backend_sid|lower }}crypt',
 'sidcrypt_home': '/usr/sap/{{ backend_sid|upper }}/lss/home',
 'sidcrypt_id': 1002,
 'sidcrypt_shell': '/bin/sh'}