/hana/backups/{{ ibp_incron_sid|upper }}/HDB02/backup/data/SYSTEMDB    IN_MOVED_TO         aws s3 mv $@/$# s3://{{ ibp_incron_bucket_name }}/IBP-{{ ibp_incron_release_number }}/{{ ibp_incron_hostname|upper }}-{{ ibp_incron_suffix|upper }}/SYSTEMDB/data/$# --sse
/hana/backups/{{ ibp_incron_sid|upper }}/HDB02/backup/data/DB_{{ ibp_incron_sid|upper }}      IN_MOVED_TO         aws s3 mv $@/$# s3://{{ ibp_incron_bucket_name }}/IBP-{{ ibp_incron_release_number }}/{{ ibp_incron_hostname|upper }}-{{ ibp_incron_suffix|upper }}/DB_{{ ibp_incron_sid|upper }}/data/$# --sse
/hana/backups/{{ ibp_incron_sid|upper }}/HDB02/backup/log/SYSTEMDB     IN_MOVED_TO         aws s3 mv $@/$# s3://{{ ibp_incron_bucket_name }}/IBP-{{ ibp_incron_release_number }}/{{ ibp_incron_hostname|upper }}-{{ ibp_incron_suffix|upper }}/SYSTEMDB/log/$# --sse
/hana/backups/{{ ibp_incron_sid|upper }}/HDB02/backup/log/DB_{{ ibp_incron_sid|upper }}       IN_MOVED_TO         aws s3 mv $@/$# s3://{{ ibp_incron_bucket_name }}/IBP-{{ ibp_incron_release_number }}/{{ ibp_incron_hostname|upper }}-{{ ibp_incron_suffix|upper }}/DB_{{ ibp_incron_sid|upper }}/log/$# --sse
