/hana/backups/{{ spr_hana_install_sid|upper }}/HDB00/backup/data/SYSTEMDB                                 IN_MOVED_TO   sudo azcopy login --identity && sudo azcopy copy $@/$# https://{{ spr_hana_incron_storage_account_name }}.blob.core.{% if cloud_partition == "usgovernment" %}usgovcloudapi{% else %}windows{% endif %}.net/{{ spr_hana_backup_container }}/{{ spr_hana_landscape|upper }}/{{ spr_hana_install_sid|upper }}/SYSTEMDB/data/$# --recursive  && rm -rf $@/$#
/hana/backups/{{ spr_hana_install_sid|upper }}/HDB00/backup/data/DB_{{ spr_hana_install_sid|upper }}      IN_MOVED_TO   sudo azcopy login --identity && sudo azcopy copy $@/$# https://{{ spr_hana_incron_storage_account_name }}.blob.core.{% if cloud_partition == "usgovernment" %}usgovcloudapi{% else %}windows{% endif %}.net/{{ spr_hana_backup_container }}/{{ spr_hana_landscape|upper }}/{{ spr_hana_install_sid|upper }}/DB_{{ spr_hana_install_sid|upper }}/data/$# --recursive && rm -rf $@/$#
/hana/backups/{{ spr_hana_install_sid|upper }}/HDB00/backup/log/SYSTEMDB                                  IN_MOVED_TO   sudo azcopy login --identity && sudo azcopy copy $@/$# https://{{ spr_hana_incron_storage_account_name }}.blob.core.{% if cloud_partition == "usgovernment" %}usgovcloudapi{% else %}windows{% endif %}.net/{{ spr_hana_backup_container }}/{{ spr_hana_landscape|upper }}/{{ spr_hana_install_sid|upper }}/SYSTEMDB/log/$# --recursive  && rm -rf $@/$#
/hana/backups/{{ spr_hana_install_sid|upper }}/HDB00/backup/log/DB_{{ spr_hana_install_sid|upper }}       IN_MOVED_TO   sudo azcopy login --identity && sudo azcopy copy $@/$# https://{{ spr_hana_incron_storage_account_name }}.blob.core.{% if cloud_partition == "usgovernment" %}usgovcloudapi{% else %}windows{% endif %}.net/{{ spr_hana_backup_container }}/{{ spr_hana_landscape|upper }}/{{ spr_hana_install_sid|upper }}/DB_{{ spr_hana_install_sid|upper }}/log/$# --recursive && rm -rf $@/$#
