# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$ykNVeHSTAKj/$aNsZL5dCvWj4SWAPm6JSinVD9iK/qfLRdsx2SP4y9Ns9nZhxmHLZ0Py280rJjZcjwahrzM7FcdTY/IvOea6iPt0hOEDwXyHh
HDB_Schema_Check_Dialogs.dropSchema = true
HDB_Schema_Check_Dialogs.schemaName = {{ app_schema_name }}
HDB_Schema_Check_Dialogs.schemaPassword = des25(6xnuWnGhObbmZAzh247MwVWG9A==)
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(7ss0/qrwVDKikgOIRP3x2MoU4g==)
NW_HDB_DB.javaSchemaName = {{ app_schema_name }}
NW_HDB_DB.javaSchemaPassword = des25(MaoY+u3IV80/tOlGQ9QO8Xoglw==)
NW_HDB_getDBInfo.dbhost = {{ db_virtual_hostname }}
NW_HDB_getDBInfo.dbsid = {{ db_sid }}
NW_HDB_getDBInfo.instanceNumber = 00
NW_HDB_getDBInfo.systemPassword = des25(Wpk9uTmttbaEk7qLQ5Vy9Mv9iw==)
NW_HDB_getDBInfo.systemid = {{ db_system_sid }}
NW_JAVA_Export.keyPhrase = des25(ejbzzooCxYHsr6CxwybOynl98A==)
NW_getLoadType.loadType = SAP
NW_internal.useProductVersionDescriptor = true
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket = {{ download_basket }}
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
SAPINST.CD.PACKAGE.SCA={{ download_basket }}/51055106/DATA_UNITS/JAVA_J2EE_OSINDEP_UT
SAPINST.CD.PACKAGE.SCA_2={{ download_basket }}/51055106/DATA_UNITS