# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$RdwnCbhUZM+W$Gk9a2k27aEbI5Cjv9/o8OaTIDP2fsNOqCcwGgSyCYeNt6upuldITXXCapq/zOOvZKdq0Mo2V3pOoyY4YwXFrMsd1Eo3XUF35
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(6lkBqiZ4XLzmitya3yN9OUvuCQ==)
NW_GetSidNoProfiles.sid = {{ sap_sid }}
NW_SAPCrypto.SAPCryptoFile = {{ download_basket }}/SAPEXE*.SAR
NW_SCS_Instance.instanceNumber = 01
NW_SCS_Instance.scsVirtualHostname = {{ ascs_virtual_hostname }}
NW_Unpack.sapExeSar = {{ download_basket }}/SAPEXE*.SAR
NW_getFQDN.FQDN = {{ custom_domain }}
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidadmPassword = des25(tI2Sj1Re+HleF3g8PDxj0dOlLQ==)