# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$ujnM2i7q68Ld$h/ck26x7RpuLwIN4E6wIYhJ3tu1rNFGheN1MoBJj8oMhEKtvngevc2uNjwQas+OHZh1gU5JUIOo/iWu8blpcZE0vq/Mb7dOm
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(dmZh+me8kdv/2P3ncOpQYmTONA==)
NW_GetSidNoProfiles.sid = {{ sap_sid }}
NW_SAPCrypto.SAPCryptoFile = {{ download_basket }}/SAPEXE*.SAR
NW_SCS_Instance.instanceNumber = 01
NW_SCS_Instance.scsVirtualHostname = {{ ascs_virtual_hostname }}
NW_Unpack.sapExeSar = {{ download_basket }}/SAPEXE*.SAR
NW_getFQDN.FQDN = {{ custom_domain }}
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidadmPassword = des25(DVImoxlGDA6vpf1NI5V46EXz7A==)