# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$VMo2l4/lkNqR$rmpMVYZcunZ4aO8KXEWEp6NBWxCapvwu3zMMRpQ7YSVFvrbbfYLcN9nlP+8suhCLjTI4//i5g0siL+B96m3eEjbp2cz91PUF
HDB_Schema_Check_Dialogs.schemaName = SAPJAVA1
HDB_Schema_Check_Dialogs.schemaPassword = des25(yo6Yj8nlUasq8Kd7vlEeYsMqJg==)
NW_AS.instanceNumber = 00
NW_DI_Instance.virtualHostname = {{ custom_hostname }}
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = des25(k/9FZv+mTAZQF+wblc93DV4yEA==)
NW_HDB_getDBInfo.dbhost = {{ db_virtual_hostname }}
NW_HDB_getDBInfo.dbsid = {{ db_system_sid }}
NW_HDB_getDBInfo.instanceNumber = 00
NW_HDB_getDBInfo.systemPassword = des25(WXEgwjeyig1dnBD2YPNHw6Ko7Q==)
NW_HDB_getDBInfo.systemid = {{ db_system_sid }}
NW_getLoadType.loadType = STD
NW_readProfileDir.profileDir = /sapmnt/{{ sap_sid }}/profile
archives.downloadBasket = {{ download_basket }}
nwUsers.sapadmUID = 20202
nwUsers.sapsysGID = 79
nwUsers.sidAdmUID = 20204
nwUsers.sidadmPassword = des25(4ZZ4TFQ86Hxu5RfX6nXElDufJA==)

SAPINST.CD.PACKAGE.SCA = {{ download_basket }}/51055106/DATA_UNITS/JAVA_J2EE_OSINDEP_UT
SAPINST.CD.PACKAGE.SCA_2 = {{ download_basket }}/51055106/DATA_UNITS
