# Global Variables
ARTIFACT_SERVER="harbor.dev.ste.dev.scs.sap"
MY_REPOS_PATH="~/repos"
AWS_PROFILE="default"
MY_AWS_CONFIG_PATH="~/.aws/config"
MY_AWS_CREDENTIAL_PATH="~/.aws/credentials"
STE_AUTOMATION="~/ste_automation"
TF_VAR_build_user="i99999"
DNS_SERVER="10.60.200.15"
DNS_SEARCH="ibp.dev.sapns2.internal"

# Container Specific Variables
## Generic Workspace
GENERIC_WORKSPACE_VERSION="latest"

## Tofu Workspace POC
TOFU_WORKSPACE_VERSION="latest"

## Yarn Builder
YARN_BUILDER_VERSION="latest"
YARN_BUILDER_DOCUSAURUS_REPO="/path/to/docusaurus/repo"
YARN_BUILDER_PORT="3000"
YARN_BUILDER_NODE_OPTIONS="--max-old-space-size=10248" #Update the size to be less than your system memory
